<launch>

<!-- Example usage of RTAB-Map with VINS-Fusion support for realsense D435i -->

<arg name="rtabmapviz" default="true"/>
<arg name="rviz"       default="false"/>
<arg name="depth_mode" default="true"/>

<include file="$(find realsense2_camera)/launch/rs_camera.launch">
   <arg name="align_depth" value="true"/>
   <arg name="unite_imu_method" value="linear_interpolation"/>
</include>

<node pkg="imu_filter_madgwick" type="imu_filter_node" name="imu_filter_node">
   <param name="use_mag"       value="false"/>
   <param name="publish_tf"    value="false"/>
   <param name="world_frame"   value="enu"/>
   <remap from="/imu/data_raw" to="/camera/imu"/>
   <remap from="/imu/data"     to="/rtabmap/imu"/>
</node>

<node pkg="topic_tools" type="throttle" name="imu_throttle" args="messages /rtabmap/imu 100.0"/>

<!-- RTAB-Map: depth mode -->
<!-- We have to launch stereo_odometry externally from rtabmap.launch so that rtabmap can use RGB-D input -->
<group ns="rtabmap">
<node if="$(arg depth_mode)" pkg="rtabmap_ros" type="stereo_odometry" name="stereo_odometry" args="--Optimizer/GravitySigma 0.3 --Odom/Strategy 9 --OdomVINS/ConfigPath $(find vins)/../config/realsense_d435i/realsense_stereo_imu_config.yaml --Rtabmap/ImagesAlreadyRectified false" output="screen">
   <remap from="left/image_rect"   to="/camera/infra1/image_rect_raw"/>
   <remap from="right/image_rect"  to="/camera/infra2/image_rect_raw"/>
   <remap from="left/camera_info"  to="/camera/infra1/camera_info"/>
   <remap from="right/camera_info" to="/camera/infra2/camera_info"/>
   <remap from="imu"               to="/rtabmap/imu_throttle"/>
   <param name="frame_id"          value="camera_link"/>
   <param name="wait_imu_to_init"  value="true"/>
</node>
</group>
<include if="$(arg depth_mode)" file="$(find rtabmap_ros)/launch/rtabmap.launch">
   <arg name="rtabmap_args"      value="--delete_db_on_start --Optimizer/GravitySigma 0.3"/>
   <arg name="rgb_topic"         value="/camera/color/image_raw"/>
   <arg name="depth_topic"       value="/camera/aligned_depth_to_color/image_raw"/>
   <arg name="camera_info_topic" value="/camera/color/camera_info"/>
   <arg name="visual_odometry"   value="false"/>
   <arg name="frame_id"          value="camera_link"/>
   <arg name="imu_topic"         value="/rtabmap/imu_throttle"/>
   <arg name="rtabmapviz"        value="$(arg rtabmapviz)"/>
   <arg name="rviz"              value="$(arg rviz)"/>
</include>

<!-- RTAB-Map: Stereo mode -->
<include unless="$(arg depth_mode)" file="$(find rtabmap_ros)/launch/rtabmap.launch">
   <arg name="rtabmap_args"            value="--delete_db_on_start --Optimizer/GravitySigma 0.3 --Odom/Strategy 9 --OdomVINS/ConfigPath $(find vins)/../config/realsense_d435i/realsense_stereo_imu_config.yaml"/>
   <arg name="odom_args"               value="--Rtabmap/ImagesAlreadyRectified false"/>
   <arg name="left_image_topic"        value="/camera/infra1/image_rect_raw"/>
   <arg name="right_image_topic"       value="/camera/infra2/image_rect_raw"/>
   <arg name="left_camera_info_topic"  value="/camera/infra1/camera_info"/>
   <arg name="right_camera_info_topic" value="/camera/infra2/camera_info"/>
   <arg name="stereo"                  value="true"/>
   <arg name="frame_id"                value="camera_link"/>
   <arg name="imu_topic"               value="/rtabmap/imu_throttle"/>
   <arg name="wait_imu_to_init"        value="true"/>
   <arg name="rtabmapviz"              value="$(arg rtabmapviz)"/>
   <arg name="rviz"                    value="$(arg rviz)"/>
</include>

</launch>
