<launch>

	<!-- BRING UP TELEROBOT -->
	<!-- BUS CAN MANAGER -->
	<group ns="tr">
        <param name="driver_type" value="TRCANDriver"/>
        <node name="can_manager" type="can_manager" pkg="can_manager"
                args="tr">
        <remap from="/tr/tr/cmd_vel" to="/cmd_vel" />
        </node>
    </group>

	<!-- TELEOP -->
	<include file="$(find rtabmap)/launch/teleop.launch"/>
	
	<!-- RTAB-MAP -->
	<include file="$(find rtabmap)/launch/rtabmap_sm.launch"/>
	
	<!-- CAMERA -->
	<include file="$(find rtabmap)/launch/cameraOmni.launch"/>

</launch>
