<launch>

	<!-- BRING UP AZIMUT2 -->
	<include file="$(find az2_bringup)/az2_base_controller.launch"/>

	<!-- TELEOP JOYSTICK -->
	<node name="teleop_pr2" pkg="pr2_teleop" type="teleop_pr2" args="--deadman_no_publish">
		<remap from="cmd_vel" to="az2/base_controller/cmd_vel" />
	</node>
	<node name="joystick" pkg="joy" type="joy_node">
		<param name="autorepeat_rate" value="20" type="double" />
	</node>
	
</launch>
