[Desktop Entry]
Name=Eclipse
GenericName=eclipse
Comment=eclipse
Keywords=eclipse
Exec=/PATH/TO/THIS/DIRECTORY/eclipse-launch.sh
Terminal=false
Type=Application
StartupNotify=true
Icon=/PATH/TO/THIS/DIRECTORY/eclipse48.png
