
<launch>
   
   <!-- RGB-D MAPPING VERSION -->
   <!-- WARNING : Database is automatically deleted on each startup -->
   <!--           See "delete_db_on_start" option below... -->
  
  <!-- TF FRAMES -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera_tf" 
    args="0.0 0.0 0.0 0.0 0.0 0.0 /base_link /camera_link 100" />
   
  <!-- Odometry -->
  <node pkg="rtabmap" type="visual_odometry" name="visual_odometry" output="screen">
    <remap from="rgb/image"       to="camera/rgb/image_rect_color"/>
    <remap from="depth/image"     to="camera/depth_registered/image_raw"/>
    <remap from="rgb/camera_info" to="camera/depth_registered/camera_info"/>
    
	<param name="Odom/MinInliers" type="string" value="10"/>
	<param name="Odom/InlierDistance" type="string" value="0.01"/>
   
    <param name="frame_id" type="string" value="base_link"/>
  </node>
  
  <group ns="rtabmap">
  
    <!-- Visual SLAM (robot side) -->
    <!-- args: "delete_db_on_start" and "udebug" -->
    <node name="rtabmap" pkg="rtabmap" type="rtabmap" output="screen" args="--delete_db_on_start">
      <param name="subscribe_depth" type="bool" value="true"/>
      <param name="subscribe_laserScan" type="bool" value="false"/>
	
      <remap from="rgb/image" to="/camera/rgb/image_rect_color"/>
      <remap from="depth/image" to="/camera/depth_registered/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/depth_registered/camera_info"/>
      <remap from="odom" to="/odom"/>
      	
      <param name="queue_size" type="int" value="30"/>
    </node>
  
    <!-- Visualisation (client side) -->
    <node pkg="rtabmap" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap)/launch/config/rgbd_gui.ini" output="screen">
      <param name="subscribe_depth" type="bool" value="true"/>
      <param name="subscribe_laserScan" type="bool" value="false"/>
      <param name="queue_size" type="int" value="30"/>
    
      <remap from="rgb/image" to="/camera/rgb/image_rect_color"/>
      <remap from="depth/image" to="/camera/depth_registered/image_raw"/>
      <remap from="rgb/camera_info" to="/camera/depth_registered/camera_info"/>
      <remap from="odom" to="/odom"/>
      
      <remap from="reset_odom" to="/reset_odom"/> <!-- to call rtabmap/visual_odometry "reset_odom" service -->
      <remap from="pause_odom" to="/pause_odom"/> <!-- to call rtabmap/visual_odometry "pause_odom" service -->
      <remap from="resume_odom" to="/resume_odom"/> <!-- to call rtabmap/visual_odometry "resume_odom" service -->
    </node>
  
  </group>

</launch>
