
<launch>

  <!-- Xtion -->
  <param name="/camera/driver/data_skip" value="1" />
  <include file="$(find openni2_launch)/launch/openni2.launch">
    <arg name="depth_registration" value="True" />
    <arg name="rgb_camera_info_url"
        value="file://$(find rtabmap_ros)/launch/calibration/rgb_PS1080_PrimeSense.yaml" />
   <arg name="depth_camera_info_url"
        value="file://$(find rtabmap_ros)/launch/calibration/depth_PS1080_PrimeSense.yaml" />
  </include>

  <!-- Xtion frame -->
  <node pkg="tf" type="static_transform_publisher" name="base_to_camera_tf"
      args="0.057 0.087 0.185 0.0 0.0 0.0 /base_link /camera_link 100" />
      
</launch>
