
<launch>

  <!-- Choose visualization -->
  <arg name="rviz" default="true" />
  <arg name="rtabmapviz" default="false" />
  <arg name="sub_data" default="false"/>
  
   <!-- use a relay on this machine -->
  <node name="mapData_relay" type="relay" pkg="topic_tools" args="/rtabmap/mapData /rtabmap/mapData_relay">
    <param name="lazy" type="bool" value="true"/>
  </node>
  <node if="$(arg sub_data)" name="scan_relay" type="relay" pkg="topic_tools" args="/base_scan /base_scan_relay">
    <param name="lazy" type="bool" value="true"/>
  </node>
  
  <node if="$(arg sub_data)" name="republish_rgb" type="republish" pkg="image_transport" args="theora in:=/camera/data_resized_image raw out:=/camera/data_resized_image_relay" />
  <node if="$(arg sub_data)" name="republish_depth" type="republish" pkg="image_transport" args="compressedDepth in:=/camera/data_resized_image_depth raw out:=/camera/data_resized_image_depth_relay" />
  
  <node if="$(arg sub_data)" pkg="nodelet" type="nodelet" name="points_xyzrgb" args="standalone rtabmap_ros/point_cloud_xyzrgb">
    <remap from="rgb/image"       to="/camera/data_resized_image_relay"/>
    <remap from="depth/image"     to="/camera/data_resized_image_depth_relay"/>
    <remap from="rgb/camera_info" to="/camera/data_resized_camera_info"/>
    <remap from="cloud"           to="/voxel_cloud" />
  </node>

  <group ns="rtabmap">  
  <!-- Visualisation RTAB-Map -->
  <node if="$(arg rtabmapviz)" pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="-d $(find rtabmap_ros)/launch/config/rgbd_gui.ini" output="screen">
      <param name="queue_size" type="int" value="10"/>
      <param name="frame_id" type="string" value="base_footprint"/>
      <remap from="odom" to="/base_controller/odom"/>
      <remap from="mapData" to="mapData_relay"/>
      
      <param name="subscribe_depth" type="bool" value="$(arg sub_data)"/>
      <remap from="rgb/image" to="/camera/data_resized_image_relay"/>
      <remap from="depth/image" to="/camera/data_resized_image_depth_relay"/>
      <remap from="rgb/camera_info" to="/camera/data_resized_camera_info"/>
      
      <param name="subscribe_laserScan" type="bool" value="$(arg sub_data)"/>
      <remap from="scan" to="/base_scan_relay"/>
  </node>
  </group>
    
  <!-- Visualisation RVIZ -->
  <node if="$(arg rviz)" pkg="rviz" type="rviz" name="rviz" args="-d $(find rtabmap_ros)/launch/azimut3/config/azimut3_nav.rviz"/>
</launch>
