
<launch>

  <!-- Remote teleop -->
  <include file="$(find az3_bringup)/joystick.launch"/> 

  <!-- We have two nodes (grid_map_assembler and rviz) subscribing to /rtabmap/mapData, so use -->
  <!-- a relay on this machine -->
  <node name="mapData_relay" type="relay" pkg="topic_tools" args="/rtabmap/mapData /rtabmap/mapData_relay" >
    <param name="lazy" type="bool" value="false"/>
  </node>

  <!-- Grid map assembler for rviz -->
  <node pkg="rtabmap" type="grid_map_assembler" name="grid_map_assembler" output="screen">
    <remap from="mapData" to="rtabmap/mapData_relay"/>
  </node>
    
  <node pkg="rviz" type="rviz" name="rviz" args="-d $(find rtabmap)/launch/config/azimut3.rviz"/>
  
  <!-- Below, construct point cloud of the latest throttled data, disabled for bandwidth efficiency -->
<!--
  <node pkg="nodelet" type="nodelet" name="standalone_nodelet"  args="manager" output="screen"/>
  <node pkg="nodelet" type="nodelet" name="points_xyzrgb" args="load rtabmap/point_cloud_xyzrgb standalone_nodelet">
    <remap from="rgb/image"       to="/camera/data_throttled_image"/>
    <remap from="depth/image"     to="/camera/data_throttled_image_depth"/>
    <remap from="rgb/camera_info" to="/camera/data_throttled_camera_info"/>
    <remap from="cloud"           to="voxel_cloud" />

    <param name="rgb/image_transport" type="string" value="theora"/>
    <param name="depth/image_transport" type="string" value="compressedDepth"/>
    
    <param name="queue_size" type="int" value="10"/>
    <param name="voxel_size" type="double" value="0.01"/>
  </node>
--> 
</launch>
