
<launch>

  <!-- record data to RTAB-Map database format (like a ROS bag, but usable in RTAB-Map for Windows/Mac OS X) -->

  <include file="$(find az3_bringup)/az3_standalone.launch"/>
  <include file="$(find az3_bringup)/joystick.launch"/>

  <!-- OpenNI -->
  <include file="$(find rtabmap_ros)/launch/azimut3/az3_openni.launch"/>
  
  <!-- Throttling messages -->
  <group ns="camera">
    <node pkg="nodelet" type="nodelet" name="data_throttle" args="load rtabmap_ros/data_throttle camera_nodelet_manager" output="screen">
      <param name="rate" type="double" value="10.0"/>
   
      <remap from="rgb/image_in"       to="rgb/image_rect_color"/>
      <remap from="depth/image_in"     to="depth_registered/image_raw"/>
      <remap from="rgb/camera_info_in" to="rgb/camera_info"/>
    
      <remap from="rgb/image_out"       to="data_throttled_image"/>
      <remap from="depth/image_out"     to="data_throttled_image_depth"/>
      <remap from="rgb/camera_info_out" to="data_throttled_camera_info"/>
    </node>   
  </group>

  <node name="data_recorder" pkg="rtabmap_ros" type="data_recorder" output="screen">
	<param name="output_file_name" value="az3_record.db" type="string"/>  
	
	<param name="frame_id" type="string" value="base_footprint"/>
	
	<param name="subscribe_odometry" type="bool" value="true"/>
	<param name="subscribe_depth" type="bool" value="true"/>
	<param name="subscribe_laserScan" type="bool" value="true"/>
	
	<remap from="odom" to="/base_controller/odom"/>
	<remap from="scan" to="/base_scan"/>

	<remap from="rgb/image" to="camera/data_throttled_image"/>
  	<remap from="depth/image" to="camera/data_throttled_image_depth"/>
  	<remap from="rgb/camera_info" to="camera/data_throttled_camera_info"/>
  	
	<param name="queue_size" type="int" value="10"/>
  </node>

</launch>
